Logger - Spigot/target/Logger-Spigot-1.7.5-shaded.jar
Logger - Spigot/target/Logger-Spigot-1.7.5.jar
Logger - Spigot/target/original-Logger-Spigot-1.7.5.jar
Logger - Spigot/target/classes/config.yml
Logger - Spigot/target/classes/discord.yml
Logger - Spigot/target/classes/plugin.yml
Logger - Spigot/target/classes/Messages/ar.yml
Logger - Spigot/target/classes/Messages/en_en.yml
Logger - Spigot/target/classes/Messages/fr_fr.yml
Logger - Spigot/target/classes/Messages/zh_cn.yml
Logger - Spigot/target/classes/me/prism3/logger/Main.class
Logger - Spigot/target/classes/me/prism3/logger/API/AuthMeUtil.class
Logger - Spigot/target/classes/me/prism3/logger/API/EssentialsUtil.class
Logger - Spigot/target/classes/me/prism3/logger/API/VaultUtil.class
Logger - Spigot/target/classes/me/prism3/logger/Commands/CommandManager.class
Logger - Spigot/target/classes/me/prism3/logger/Commands/Dump.class
Logger - Spigot/target/classes/me/prism3/logger/Commands/Dump$PasteRequest.class
Logger - Spigot/target/classes/me/prism3/logger/Commands/OnLogger.class
Logger - Spigot/target/classes/me/prism3/logger/Commands/SubCommand.class
Logger - Spigot/target/classes/me/prism3/logger/Commands/Getting/Chat.class
Logger - Spigot/target/classes/me/prism3/logger/Commands/SubCommands/PlayerInventoryCommand.class
Logger - Spigot/target/classes/me/prism3/logger/Commands/SubCommands/ReloadCommand.class
Logger - Spigot/target/classes/me/prism3/logger/Database/External/ba3
Logger - Spigot/target/classes/me/prism3/logger/Database/External/External.class
Logger - Spigot/target/classes/me/prism3/logger/Database/External/ExternalData.class
Logger - Spigot/target/classes/me/prism3/logger/Database/External/ExternalUpdater.class
Logger - Spigot/target/classes/me/prism3/logger/Database/SQLite/Global/SQLite.class
Logger - Spigot/target/classes/me/prism3/logger/Database/SQLite/Global/SQLiteData.class
Logger - Spigot/target/classes/me/prism3/logger/Database/SQLite/Registration/SQLiteDataRegistration.class
Logger - Spigot/target/classes/me/prism3/logger/Database/SQLite/Registration/SQLiteRegistration.class
Logger - Spigot/target/classes/me/prism3/logger/Discord/Discord.class
Logger - Spigot/target/classes/me/prism3/logger/Discord/DiscordFile.class
Logger - Spigot/target/classes/me/prism3/logger/Discord/DiscordStatus.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnAnvil.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnBlockBreak.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnBlockPlace.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnBook.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnBucketEmpty.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnBucketFill.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnEnchant.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnGameMode.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnItemDrop.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnItemPickup.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnPlayerChat.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnPlayerDeath.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnPlayerJoin.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnPlayerKick.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnPlayerLeave.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnPlayerLevel.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnPlayerRegister.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnPlayerTeleport.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnSign.class
Logger - Spigot/target/classes/me/prism3/logger/Events/Misc/OnPrimedTNT.class
Logger - Spigot/target/classes/me/prism3/logger/Events/Misc/OnSpawnEgg.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnCommands/OnCommand.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnCommands/OnCommandWhitelist.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnInventories/OnCraft.class
Logger - Spigot/target/classes/me/prism3/logger/Events/OnInventories/OnFurnace.class
Logger - Spigot/target/classes/me/prism3/logger/Events/PluginDependent/OnAFK.class
Logger - Spigot/target/classes/me/prism3/logger/Events/PluginDependent/OnAuthMePassword.class
Logger - Spigot/target/classes/me/prism3/logger/Events/PluginDependent/OnVault.class
Logger - Spigot/target/classes/me/prism3/logger/Events/Spy/OnAnvilSpy.class
Logger - Spigot/target/classes/me/prism3/logger/Events/Spy/OnBookSpy.class
Logger - Spigot/target/classes/me/prism3/logger/Events/Spy/OnCommandSpy.class
Logger - Spigot/target/classes/me/prism3/logger/Events/Spy/OnSignSpy.class
Logger - Spigot/target/classes/me/prism3/logger/ServerSide/Console.class
Logger - Spigot/target/classes/me/prism3/logger/ServerSide/PortalCreation.class
Logger - Spigot/target/classes/me/prism3/logger/ServerSide/RAM.class
Logger - Spigot/target/classes/me/prism3/logger/ServerSide/RCON.class
Logger - Spigot/target/classes/me/prism3/logger/ServerSide/Start.class
Logger - Spigot/target/classes/me/prism3/logger/ServerSide/Stop.class
Logger - Spigot/target/classes/me/prism3/logger/ServerSide/TPS.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/ASCIIArt.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/ConfigChecker.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/Data.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/FileHandler.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/InventoryToBase64.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/Messages.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/Metrics.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/Metrics$1.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/Metrics$AdvancedBarChart.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/Metrics$AdvancedPie.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/Metrics$CustomChart.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/Metrics$DrilldownPie.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/Metrics$JsonObjectBuilder.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/Metrics$JsonObjectBuilder$JsonObject.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/Metrics$MetricsBase.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/Metrics$MultiLineChart.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/Metrics$SimpleBarChart.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/Metrics$SimplePie.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/Metrics$SingleLineChart.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/PlayerFolder.class
Logger - Spigot/target/classes/me/prism3/logger/Utils/Enum/FriendlyEnchants.class
Logger - Spigot/target/maven-archiver/pom.properties
Logger - Spigot/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Logger - Spigot/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
